<form id="editPostForm" method="POST">
     <input type="hidden"
            name="_csrf"
            value="{{ token }}" />
   
    <input class="form-input" 
           id="title"
           name="title"
           value={{#if post}} {{ post.title }} {{ else }} "" {{/if}} 
           placeholder="请输入标题" />

    <input class="form-input text-middle"
           id="tags"
           name="tags"
           value={{#if post}} {{ post.tags.length }} {{ else }} "" {{/if}}
           placeholder="请输入标签, 用英文状态下的,进行分割。" />

    {{#if post}}
        <textarea class="form-textarea"
                  id="content"
                  name="content"
                  rows="15"
                  placeholder="请输入内容">{{ post.content }}</textarea>
    {{ else }}
        <textarea class="form-textarea"
                  id="content"
                  name="content"
                  rows="15"
                  placeholder="请输入内容"></textarea>
    {{/if}}

    <button class="btn" id="submitBtn" type="submit">提交</button>
    <button class="btn" id="cancelBtn">取消</button>
</form>
